{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}" />
    
  </head>
  
  <body >
    <header style="background-color: black; display: flex; align-items: center; width: 100%;">
      <nav class="container" style="display: flex; justify-content: space-between; color: white; align-items: center; flex-wrap: wrap;">
        <h2><a href="{% url 'home' %}" style="text-decoration: none; color: white;">News site</a></h2>
        <h2>
          <div
          class="main-title"
          style="
            text-shadow: 0 9px 25px rgba(0, 0, 0, 0.15);
            line-height: 1.05;
            margin-bottom: 24px;
            left: 280px;
            top: 120px;
          "
        >
        </div>
    
        <form
          action="/get-recommendation"
          method="post"
          style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;"
        >
          {% csrf_token %}
          <input type="text"
            name="user_description"
            placeholder="Search news here"
          
            maxlength="500"
            style="
              opacity: 0.8;
              width: 300px;
              height: 35px;
              padding: 10px 20px;
              box-sizing: border-box;
              border: 2px solid #ccc;
              border-radius: 4px;
              background-color: aliceblue;
              font-size: 16px;
              resize: none;
            "
          ></input
          ><br />
          <button
          class="btn btn-lg btn-success"
          style="height: 35px; padding: 10px; display: flex; align-items: center;"
            type="submit"
          >
            Submit
          </button>
        </form>
        </h2>
      </nav>
    </header>


<br>

    <div class="vstack">
      <div
        class="card mb-3 w-75 p-3"
        style="
          margin: 0 auto;
          border-radius: 8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        "
      >
      <h2 class="card-title" style="color: green;">{{news.title}}</h2><br>

        <div style="display: flex; justify-content: stretch">
          {% if news.image %}<img
            src="{{news.image.url}}"
            
            style="max-width: 250px; max-height: 200px"
          /><br>

          {% endif %}
          <div class="card-body w-50">
            <p class="card-text">{{news.description}}</p><br>
          </div>
        </div>

      </div>
    </div>
    <div class="Recommendation News">
      <h3>Recommendations</h3>

        {% for news in recommended_news %}
        <div class="card-deck" style="display: flex; justify-content: stretch">
          <a href="{% url 'detail_page' news.id %}">
          <img
          src="{{news.image.url}}"
          class="card-img-top mt-3 w-50"
            style="max-width: 250px; max-height: 200px"
          /></a>
          <div class="card-body w-50">
            <h2 class="card-title">{{news.title}}</h2>
          </div>
          </a>
        </div>
 {% endfor %}
    </div>
    <footer style="background-color: black; display: flex; align-items: center; color:  white; justify-content: center; font-weight: bold; height: 80px;">
      <p>
        Lorem, ipsum  tempora nostrum impedit voluptatem harum, animi non. Copyright reserved: Yarki
      </p>
    </footer>
   
  </body>
</html>
